USE [master]
GO
/****** Object:  Database [CodeMazeBlazor]    Script Date: 6/30/2023 8:08:21 PM ******/
CREATE DATABASE [CodeMazeBlazor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CodeMazeBlazor', FILENAME = N'C:\Users\beqab\CodeMazeBlazor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CodeMazeBlazor_log', FILENAME = N'C:\Users\beqab\CodeMazeBlazor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CodeMazeBlazor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CodeMazeBlazor]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/30/2023 8:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NULL,
	[Supplier] [nvarchar](max) NULL,
	[Price] [decimal](18, 0) NULL,
	[ImageUrl] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
